# Configuración Flask
SECRET_KEY=tu_clave_secreta_super_segura_aqui
FLASK_APP=app
FLASK_ENV=development

# Base de datos
DATABASE_URL=sqlite:///wormed.db

# Configuración admin por defecto
ADMIN_EMAIL=admin@wormed.local
ADMIN_PASSWORD=admin123